* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}
.ripple-button {
    position: relative;
    overflow: hidden;
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 0.6s linear;
}

@keyframes ripple-effect {
    to {
        transform: scale(10);
        opacity: 0;
    }
}
